In [1]:
# Deficiencies
import pandas as pd
import numpy as np

In [6]:
#create a dataframe of frames using a dictionary of lists
frame_df =pd.DataFrame({
        'Frame' : ['Omale', 'Classical', 'Modern', 'Wood', 'Cardboard'],
        'Price' : [15.0, 12.5, 10.0, 5.0, 1.0],
        'Sales' : [100, 200, 150, 300, 'NA']
})
frame_df

       Frame  Price Sales
0      Omale   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0    NA

In [ ]:
#create a dataframe of paintings using a list of dictionaries
painting_df =pd.Dataframe([
    {'Painting':'Mona Lisa (Knockoff)', 'Price':25}, 
])