In [3]:
import pandas as pd
import numpy as np

In [4]:
#save a filepath to the data
purchase_1 = "purchase_data.json"
purchase_2 = "purchase_data2.json"

In [5]:
#read the files with pandas
purchase_1_df = pd.read_json(purchase_1)
purchase_1_df.head(5)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [6]:
#read file #2
purchase_2_df = pd.read_json(purchase_2)
purchase_2_df.head(5)

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [7]:
#merge files to have one DataFrame to maniuplate
purchase_merge_df = pd.merge(purchase_1_df, purchase_2_df, on=["Age", "Gender", "Item ID", "Item Name", "Price", "SN"], how="outer")
purchase_merge_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

# Purchasing analysis
    1. Total players
    2. Total number of unique Items
    3. Average purchase price
    4. Total number of purchases
    5. Total revenue

In [9]:
Total_players = purchase_merge_df["SN"].nunique() 
Total_players

612

In [10]:
unique_items = purchase_merge_df["Item Name"].nunique()
unique_items

180

In [20]:
# Average Purchase Price
av_price = round(purchase_merge_df["Price"].mean(),2)
av_price

2.93

In [59]:
# Total Number of Purchases
total_items = purchase_merge_df["Item Name"].value_counts()
sum_items = sum(total_items)
sum_items

858

In [19]:
# Total Revenue
total_revenue = sum(round(purchase_merge_df["Price"]),2)
total_revenue

2511.0

# Gender Demographics
    1. Percent and Count of Male Players
    2. Percent and Count of Female Players
    3. Percent and Count of Other/ Non Disclosed

In [31]:
gender_df = purchase_merge_df.groupby("Gender")
gender_df.nunique()

                       Age  Gender  Item ID  Item Name  Price   SN
Gender
Female                  28       1      103        101    100  112
Male                    36       1      182        178    181  498
Other / Non-Disclosed    8       1       12         12     12    9

In [110]:
## Gender Demographics ##
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

tot_player = purchase_merge_df["Gender"].count()
player_gender = purchase_merge_df["Gender"].value_counts()
player_gender_df = pd.DataFrame(player_gender)
percent_gender = player_gender / tot_player * 100
percent_gender_df = pd.DataFrame(percent_gender)
percent_gender_df.columns = ["Gender", "Percent of Players"]
percent_gender_df

                       Gender                   Gend
Male                      697                   Male
Female                    149                 Female
Other / Non-Disclosed      12  Other / Non-Disclosed

ValueError: Length mismatch: Expected axis has 1 elements, new values have 2 elements

In [ ]:
## Purchasing Analysis (Gender)** 
# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals